{% extends 'base.html' %}

{% block body %}

        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-4">
                        <div class="card" style="height: 650px">
                            {% if product.image %}
                                <a href="{{ product.get_absolute_url }}"><img class="card-img-top " src="{{ product.image.url }}" alt="Card image cap"  style="height: 400px; object-fit: contain;padding: 20px"></a>
                            {% endif %}
                            <hr>
                              <div class="card-body">
                                  <a class="card-title"><a href="{{ product.get_absolute_url }}"> {{ product.name|truncatechars:40 }}</a></h5>
                                      <p><small>{{ product.product_code }}</small></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">Ürün Adedi : {{ product.stock }}</li>
                                <li class="list-group-item">Ürün Fiyatı : {{ product.price }} Türk Lirası</li>
                              </ul>
                        </div>
                    <br>
                    </div>
                {% endfor %}
            </div>
        </div>

        {#Paginator#}

        <div class="row">
          <div class="col-sm-6 col-md-4 offset-4">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if products.has_previous %}
                      <a class="page-link" href="?page={{ products.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    {% endif %}
                </li>
                <li class="page-item"><a class="page-link" href="#"><span class="current">{{ products.number }} - {{ products.paginator.num_pages }}</span></a></li>
                <li class="page-item">
                    {% if products.has_next %}
                      <a class="page-link" href="?page={{ products.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    {% endif %}
                </li>
              </ul>
            </nav>
          </div>
        </div>


        </div>





{% endblock %}