
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light navbar-collapse">
          <a class="navbar-brand" href="{% url 'home' %}">Kurum Adı</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Anasayfa <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'product:index' %}">Ürünlerimiz</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Hakkımızda</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">İletişim</a></li>

                {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Giriş Yap</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Üye Ol</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Çıkış Yap</a></li>
                {% endif %}

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" name="q" placeholder="Ürünü Ara" aria-label="Search" value="{{ request.GET.q }}">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
            </form>
          </div>
        </nav>